/**********************************
Navbar
***********************************/
.navbar{
  background-color: #F44336;
}


/**********************************
Jumbotron
***********************************/
.jumbotron{
  background-color:#9E9E9E; 
  color: white;
}

.jumbo-btn{
  background-color: #F44336;
  color: white;
}

.jumbo-btn:hover{
  background-color: #F44336;
  color: white;
}


/**********************************
Contact
***********************************/



.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.email a {
  background-image: url('../img/mail.png');
}

.contact-info li.linkedin a {
  background-image: url('../img/In.png');
}

.contact-info li.gitHub a {
  background-image: url('../img/GitHub-Mark.png');
}

