.App {
  text-align: center;
}

.content {
  background-color: #009FB7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  line-height: 48px;
  color: white;
}


/** Navbar **/

.nav-button {
  font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: black;
}

#nav-button {
  color: black;
}


#nav-button:hover {
  color: #009FB7;
}


/** About Me **/
.about-div {
  padding-top: 20px;
}

.icon-pic {
  max-width: 75%;
}


/** Home **/
.home-pt-2{
margin: 50px 0 50px 0;
}

.content h4{
  font-weight: 300;
}


@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
.arrow-button {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.arrow-column{
  margin-top: 250px;
}

.arrow-column h4{
  padding-bottom: 50px;
}

.work-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-title{
  padding-top: 50px;
  font-weight: 300;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 2rem!important;
}

.image-border{
  border: .5px solid lightgray;
}

.projects {
  text-align: left;
}

.expand-button Button{
  margin-bottom: 16px;
  background-color: #009FB7;
  border-color: #009FB7;
}

.expand-button Button:hover{
  background-color: #006f80;
  border-color: #006f80;
}

.expand-button Button:focus,
.expand-button Button:active
{
  background-color: #009FB7;
  border-color: #009FB7;
}


.projects h1{
  font-weight: 300;
  line-height: 1.2;
  color: black;
}

.project-name:hover{
  color:black;
}

.project-details-col{
  padding-left: 0px;
  font-weight: 300;
}

.project-details-col a{
  font-size: 1.25rem;
  font-weight: 300;

}

.title-description{
  font-weight: 300;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

div {
  white-space: pre-wrap;
} 

/**Contact**/
.contact-div{
  background-color: #009FB7;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 48px;
  color: white;
}

.contact-row{
  padding-top: 100px;
}

.contact-inner-div{
  margin: 0 auto;
}

.contact-title{
  padding-top: 50px;
}

.contact-info {
  list-style: none;
  text-align: left;
}

.contact-info li.linkedin a {
  background-image: url(../images/contact-icons/iconmonstr-linkedin-3.svg);
}
.contact-info li.phone a {
  background-image: url(../images/contact-icons/telephone.svg);
}
.contact-info li.email a {
  background-image: url(../images/contact-icons/envelope.svg);
}
.contact-info li.github a {
  background-image: url(../images/contact-icons/GitHub-Mark-64px.png);
}

.contact-info a {
  display: block;
  min-height: 40px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding: 0 0 0 60px;
  margin: 0 0 10px;
  color: white;
}