.App {
  text-align: center;
}

.content {
  background-color: #009FB7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/** Navbar **/

.nav-button {
  font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: black;
}

#nav-button {
  color: black;
}


#nav-button:hover {
  color: #009FB7;
}


/** About Me **/
.about-div {
  padding-top: 20px;
}

.icon-pic {
  max-width: 75%;
}


/** Home **/
.home-pt-2{
margin: 50px 0 50px 0;
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
.arrow-button {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.arrow-column{
  margin-top: 200px;
}

.work-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.projects {
  text-align: left;
}